<h1>main page</h1>
<p>people come here after they log in</p>

  <div class="row align-items-end">
    <div class="col">
      <%= link_to (image_tag ("/user_images/group.JPG")), "/groups/show" %>
    グループ一覧ページ
    </div>
    <div class="col">
      <%= link_to (image_tag ("/user_images/friends.JPG")), "/friends/show" %>
    フレンド一覧ページ
    </div>
    <div class="col">
      <%= link_to (image_tag ("/user_images/profile.jpeg")), user_path(:"#{current_user.id}"), { :class => "nav-link"} %>
    </div>
  </div>